@tailwindcss/vite
@vitejs/plugin-vue
@fortawesome/fontawesome-svg-core
@fortawesome/free-solid-svg-icons
@fortawesome/vue-fontawesome@latest-3
autoprefixer
axios
jwt-decode
postcss
tailwindcss
vite
vue
vue-i18n
vue-router