fastapi==0.115.13
fastapi-mail==1.5.0
PyMuPDF==1.26.1
pandas==2.2.3
passlib==1.7.4
pydantic==2.11.7
pydantic-settings==2.10.1
python-jose==3.5.0
SQLAlchemy==2.0.41
starlette==0.46.2
openai==1.97.0
uvicorn==0.34.3
python-multipart==0.0.6
psycopg2-binary==2.9.9
openpyxl==3.1.2